n8n-workflows/workflow-0-assistant.json
{
  "name": "Workflow 0 — Business Question Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business-question",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook — receive question",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/assistant/ask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ question: $json.body.question }) }}",
        "options": {}
      },
      "id": "node-fastapi",
      "name": "HTTP Request — FastAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.answer, question: $json.question }) }}",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook — receive question": {
      "main": [[{ "node": "HTTP Request — FastAPI", "type": "main", "index": 0 }]]
    },
    "HTTP Request — FastAPI": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  }
}
